.chat-page {
  height: 100%;
  overflow: hidden;

  &--input {
    background-color: #778DA9;
    border-radius: 15px;
    input {
      color: #E0E1DD !important;
      border: none !important;
    }

  }

  &--button {
    margin: 30px 0 !important;
  }
}

.chat {
  border-radius: 15px;
  height: 70vh;
}